.chatAFriend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.ChatAFriendBtn {
  padding: 5px 12px;
  border: none;
  background: #696969;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2em;
}
a {
  text-decoration: none;
}
